<form>
  <div class="">
    <label for="brand">Brand</label>
    {{input value=brand id="brand"}}
  </div>
  <div class="">
    <label for="name">Name</label>
    {{input value=name id="name"}}
  </div>
  <div class="">
    <label for="instrument">Instrument</label>
    {{input value=instrument id="instrument"}}
  </div>
  <div class="">
    <label for="winding">Winding</label>
    {{input value=winding id="winding"}}
  </div>
  <div class="">
    <label for="core">Core</label>
    {{input value=core id="core"}}
  </div>
  <div class="">
    <label for="size">Size</label>
    {{input value=size id="size"}}
  </div>
  <div class="">
    <label for="gauge">Gauge</label>
    {{input value=gauge id="gauge"}}
  </div>
  <div class="">
    <label for="end">End</label>
    {{input value=end id="end"}}
  </div>
  <div class="">
    <label for="price">Price</label>
    {{input value=price id="price"}}
  </div>
  <div class="">
    <label for="image">Image URL</label>
    {{input value=image id="image"}}
  </div>
  <button {{action 'save' string}}>Add String</button>
</form>
