{{#each sortedReviews as |review|}}
  <div class="comment">
    <div class="comment-content">
      <h1>{{review.name}}</h1>
      <p>{{review.title}}</p>
      <p>{{review.content}}</p>
      <p>Rating: {{review-stars review.rating}}</p>
      <p class="comment-detail">{{moment-format date "L"}}</p>
    </div>
  </div>
{{/each}}
