<h3>{{#link-to 'string' string.id}}{{string.name}}{{/link-to}}</h3>
<img src={{string.image}} alt={{string.name}} />
<p>{{string.brand}}</p>
<p>{{string.instrument}}</p>
<p>{{string.winding}}</p>
<p>{{string.core}}</p>
<p>{{string.size}}</p>
<p>{{string.gauge}}</p>
<p>{{string.end}}</p>
<p>{{string.price}}</p>
